:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.headband {
	max-height: 2000px;
	height: 100%;
	width: 100%;
	background: #32569d;
	z-index: 10;
	height: 600px;
	position: absolute;
	overflow: hidden;
}
.anime {
	height: 600px;
	width: 100%;
}
.bg_cloud {
	background: #32569d;
	height: 203px;
	margin-top: -203px;
}

.animScale {
	animation: animScale 2s ease-in-out infinite;
}

@keyframes animScale {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0.9);
	}
}

@keyframes cloud_1 {
	from {
		background-position: 1369px 100%, 0 0;
	}
	to {
		background-position: 0 100%, 0 0;
	}
}
@keyframes cloud_2 {
	from {
		background-position: 2060px 100%, 0 0;
	}
	to {
		background-position: 0 100%, 0 0;
	}
}
@keyframes raduga {
	from {
		background-position: 1000px 100%, 120% 30%, 120% 15%, 0 0;
	}
	to {
		background-position: 0 100%, -200% 10%, -50% 15%, 0 0;
	}
	50% {
		margin-top: 30px;
	}
}
@keyframes cat {
	50% {
		margin-top: 30px;
		/*height: 158px;*/
	}
}
@keyframes star {
	from {
		background-position: 457px 100%, 0 0;
	}
	to {
		background-position: 0 100%, 0 0;
	}
}
.cloud_1 {
	z-index: 200;
	bottom: 0px;
	margin-top: 0px;
	position: absolute;
	width: 100%;
	height: 188px;
	background: url('/obl_2.png') repeat-x;

	animation: cloud_2 25s linear infinite;
}

.raduga {
	margin-top: 0px;
	position: absolute;
	top: 100px;
	left: -1200px;
	z-index: 5;
	height: 108px;
	width: 1500px;
	background: url('/raduga.png') repeat-x;

	animation: raduga 3s linear infinite;
}
.cloud_2 {
	z-index: 100;
	bottom: 0px;
	margin-top: 0px;
	position: absolute;
	width: 100%;
	height: 205px;
	background: url('/cloud2.png') repeat-x;

	animation: cloud_1 45s linear infinite;
}

.center_main {
	top: 50%;
	margin-top: -100px;
	position: absolute;
	width: 100%;
	text-align: Center;
	color: #fff;
}

.cat {
	position: absolute;
	left: 170px;
	top: 59px;
	z-index: 120;
	width: 276px;
	height: 205px;
	background: url('/cat.png') no-repeat;
	background-size: contain;
	/*transform: scale(1, -1);*/

	animation: cat 3s linear infinite;
}
.particule {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4rem;
	height: 4rem;
	margin: -0.5rem 0 0 -0.5rem;
	transform: scale(0);
	border-radius: 100%;
	background-image: url('https://cdn140.picsart.com/233951046063212.png?r1024x1024');
	background-size: cover;
	z-index: 100000;
}
.star {
	z-index: 100;
	top: 10px;
	margin-top: 0px;
	position: absolute;
	width: 100%;
	height: 267px;
	background: url('/stars.png') repeat-x;

	animation: star 10s linear infinite;
}
#line {
	top: 50%;
	margin-left: -150px;
	width: 300px;
	margin-top: 10px;
	height: 3px;
	background: #99ffc9;
	text-align: Center;
	vertical-align: middle;
}
.line_h {
	border: none; /* Убираем границу */
	background-color: #98e051; /* Цвет линии */ /* Цвет линии для IE6-7 */
	height: 4px; /* Толщина линии */
	align: center;
	width: 300px;
}
.imag_day img {
	width: 100%;
	border-radius: 6px;
}

kbd {
	background-color: #fff;
	border: 1px solid #ccd0d5;
	border-radius: 0.4rem;
	box-shadow: inset 0 -1px 0 #ccd0d5;
	color: #444950;
	font: 2rem monospace;
	padding: 1.2rem 1rem;
}
.buttons {
	display: flex;
	min-width: calc(40px + 0.8em);
	flex-wrap: wrap;
	justify-content: center;
}
.button {
	transition: all 1s;
	align-items: center;
	background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
	border: 0;
	/* border-radius: 3px; */
	box-shadow: inset 0 -6px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
		0 1px 2px 1px rgba(30, 35, 90, 0.4);
	color: #606770;
	display: flex;
	height: 18px;
	justify-content: center;
	margin: 0.4em;
	position: relative;
	top: -1px;
	/* width: 80px; */
}

.button-pressed {
	box-shadow: inset 0 2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
		0 1px 2px 1px rgba(30, 35, 90, 0.4);
}

.button:hover {
	box-shadow: inset 0 2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
		0 1px 2px 1px rgba(30, 35, 90, 0.4);
}

.hud-panel {
	display: flex;
	width: 100%;
}
